:root {
  --main-color: #021e73;
  --main-two: #0176f2;
  --body-main: white;
  --body-two: #800000;
  --submit-btn-color: #ffd45a;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "tahoma";
  background: url("../images/soccerbacklarge.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  margin: 20px 20px;
  padding: 10px 10px;
  border-radius: 20px;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.title {
  color: white;
  margin: 0px;
  font-size: 3.5vw;
  text-shadow:
  -2px -2px 0 #000,  
  2px -2px 0 #000,
 -2px  2px 0 #000,
  2px  2px 0 #000,
 -1px -2px 0 #000,
  1px -2px 0 #000,
 -2px -1px 0 #000,
  2px -1px 0 #000,
 -2px  1px 0 #000,
  2px  1px 0 #000,
 -1px  2px 0 #000,
  1px  2px 0 #000;
}

#soccer-ball {
  width: 85px;
  padding: 10px;
}

.container {
  width: 100%;
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 250px auto;
}

.sidebar {
  grid-area: sidebar;
  height: 100vw;
  margin-left: 20px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: var(--main-two);
  font-size: 35px;
  text-align: center;
}

.main {
  grid-area: main;
  height: 100vw;
}

.dropdown-country {
  position: relative;
  margin-top: 39px;
}

#select-country {
  appearance: none;
  width: 95%;
  font-size: 18px;
  padding: 15px 15px 15px 15px;
  background-color: #ffffff;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 2px 0px darkblue;
}

#select-country:focus {
  background: #f2f2f2;
  border: 1px solid #5a7ec7;
  border-radius: 5px;
}

.dropdown-country::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  background-color: #000000;
  clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}

.dropdown-teams {
  position: relative;
  margin: 55px 0px 39px 0px;
}

.dropdown-teams::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  background-color: #000000;
  clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}

#select-team {
  appearance: none;
  width: 95%;
  font-size: 18px;
  padding: 15px 15px 15px 15px;
  background-color: #ffffff;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 2px 0px darkblue;
}

#select-team:focus {
  background: #f2f2f2;
  border: 1px solid #5a7ec7;
  border-radius: 5px;
}

.league-container {
  width: 80%;
  font-size: 60px;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(242, 242, 242, 0.5);
  padding: 5px 5px;
  margin: 5px auto;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#league-name {
  text-align: center;
  width: 100%;
}

.team-info {
  width: 80%;
  font-size: 55px;
  color: #f2f2f2;
  padding: 15px 5px;
  margin: 20px auto 20px 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  text-shadow:
  -2px -2px 0 #000,  
  2px -2px 0 #000,
 -2px  2px 0 #000,
  2px  2px 0 #000,
 -1px -2px 0 #000,
  1px -2px 0 #000,
 -2px -1px 0 #000,
  2px -1px 0 #000,
 -2px  1px 0 #000,
  2px  1px 0 #000,
 -1px  2px 0 #000,
  1px  2px 0 #000;
}

#team-logo {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: 0 auto;

}

#stadium {
  width: 450px;
  height: 450px;
  object-fit: contain;
  margin: 0 auto;

}

#map-container {
  width: 80%;
  padding: 15px 5px;
  margin-left: 33%;
  
}

.map-display {
  width: 425px;
  height: 350px;
  scroll-behavior: initial;
  margin: 0px;
  border: 1px solid black;
}



@media screen and (max-width: 768px) {
  .container {
      grid-template-areas:
          "sidebar"
          "main";
      grid-template-columns: auto;
  }

  .sidebar, .main {
      height: auto; 
  }

  .title {
      font-size: 8vw;
  }

  #soccer-ball {
      width: 80px; 
      height: auto; 
  }

  .league-container {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    font-size: min(5vw, 24px); 
    gap: 20px; 
  }

  .league-name {
    font-size: min(5vw, 30px); 
  }

  .league-container img {
    max-width: 80%; 
    height: auto; 
  }

  .team-info {
    width: 80%; 
    margin: 20px auto; 
    text-align: center;
    font-size: min(5vw, 24px);
  }

  #team-logo, #stadium {
    max-width: 100%; 
    height: auto; 
  }

  #map-container {
    width: 100%; 
    padding: 15px 0; 
    margin: 0 auto; 
    text-align: center; 
  }

  .map-display {
    width: 90%; 
    height: auto; 
    margin: 10px auto; 
    border: 1px solid black; 
  }

}