/* Color Palette */
:root {
  --main-color: #021e73;
  --main-two: #0176f2;
  --body-main: white;
  --body-two: #800000;
  --submit-btn-color: #ffd45a;
}

/* Implement a background image that moves with the scrolling of the screen */
body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "tahoma";
  background: url("../images/soccerbacklarge.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Header class */
.header {
  margin: 20px 20px;
  padding: 10px 10px;
  border-radius: 20px;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

/* Title of header */
.title {
  color: white;
  margin: 0px;
  font-size: 3.5vw;
  text-shadow:
  -2px -2px 0 #000,  
  2px -2px 0 #000,
 -2px  2px 0 #000,
  2px  2px 0 #000,
 -1px -2px 0 #000,
  1px -2px 0 #000,
 -2px -1px 0 #000,
  2px -1px 0 #000,
 -2px  1px 0 #000,
  2px  1px 0 #000,
 -1px  2px 0 #000,
  1px  2px 0 #000;
}

/* Soccer ball image */
#soccer-ball {
  width: 85px;
  padding: 10px;
}

/* Container for the side bar and main content */
.container {
  width: 100%;
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 250px auto;
}

/* Positioning of siderbar */
.sidebar {
  grid-area: sidebar;
  height: 100vw;
  margin-left: 20px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: var(--main-two);
  font-size: 35px;
  text-align: center;
}

/* Main content display adjustments */
.main {
  grid-area: main;
  height: 100vw;
}

/* Position of dropdown menu */
.dropdown-country {
  position: relative;
  margin-top: 39px;
}

/* Select country options */
#select-country {
  appearance: none;
  width: 95%;
  font-size: 18px;
  padding: 15px 15px 15px 15px;
  background-color: #ffffff;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 2px 0px darkblue;
}

/* Focus when selecting a country */
#select-country:focus {
  background: #f2f2f2;
  border: 1px solid #5a7ec7;
  border-radius: 5px;
}

/* When opening the dropdown for the countries */
.dropdown-country::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  background-color: #000000;
  clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}

/* Position of dropdown menu */
.dropdown-teams {
  position: relative;
  margin: 55px 0px 39px 0px;
}

/* When opening the dropdown for the teams */
.dropdown-teams::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  background-color: #000000;
  clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}

/* Select team options */
#select-team {
  appearance: none;
  width: 95%;
  font-size: 18px;
  padding: 15px 15px 15px 15px;
  background-color: #ffffff;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 2px 0px darkblue;
}

/* Focus when selecting a team */
#select-team:focus {
  background: #f2f2f2;
  border: 1px solid #5a7ec7;
  border-radius: 5px;
}

/* Alignment of league name and logo */
.league-container {
  width: 80%;
  font-size: 60px;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(242, 242, 242, 0.5);
  padding: 5px 5px;
  margin: 5px auto;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* Adjustment's to league name and logo */
#league-name {
  text-align: center;
  width: 100%;
}

/* Position of the team's information */
.team-info {
  width: 80%;
  font-size: 35px;
  color: #f2f2f2;
  padding: 15px 5px;
  margin: 20px auto 20px 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  text-shadow:
  -2px -2px 0 #000,  
  2px -2px 0 #000,
 -2px  2px 0 #000,
  2px  2px 0 #000,
 -1px -2px 0 #000,
  1px -2px 0 #000,
 -2px -1px 0 #000,
  2px -1px 0 #000,
 -2px  1px 0 #000,
  2px  1px 0 #000,
 -1px  2px 0 #000,
  1px  2px 0 #000;
}

/* Position of the team's information */
.team, .venue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 33%;
}

/* Text of all the team's information */
.team p, .venue p {
  margin: 15px;
  font-size: 2.5vw;
}

/* Image adjustment for logo of the team */
#team-logo {
  width: 15vw;
  height: 15vw;
  object-fit: contain;
  margin: 0 auto;
}

/* Image adjustment for team's venue stadium */
#stadium {
  width: 300px;
  height: 250px;
  object-fit: contain;
  margin: 0 auto;
}

/* Position of the map on the webpage */
#map-container {
  width: 80%;
  padding: 15px 5px;
  margin-left: 27%;
}

/* Size adjustment for the map display */
.map-display {
  width: 35vw;
  height: 27.5vw;
  scroll-behavior: smooth;
  margin: 0px;
  border: 1px solid black;
}

/* Footer class */
.footer {
  width: 96%;
  font-size: 60px;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(242, 242, 242, 0.5);
  padding: 5px 5px;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Text in footer */
.footer p {
  font-size: 50px;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

/* Github icon */
#github {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 992px) {
  .container {
      grid-template-areas:
          "sidebar"
          "main";
      grid-template-columns: auto;
  }

  .sidebar, .main {
      height: auto;
      margin-right: 20px;
  }

  .title {
      font-size: 8vw;
  }

  #soccer-ball {
      width: 80px; 
      height: auto; 
  }

  #select-country, #select-team {
    width: 99%;
    box-shadow: 1.5px 1.5px 1px 0px darkblue;
  }

  .league-container {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    font-size: min(5vw, 24px); 
    gap: 20px; 
  }

  .league-name {
    font-size: min(5vw, 30px); 
  }

  .league-container img {
    max-width: 80%; 
    height: auto; 
  }

  .team-info {
    width: 80%; 
    margin: 20px auto; 
    text-align: center;
    font-size: min(5vw, 24px);
  }

  #team-logo, #stadium {
    max-width: 100%; 
    height: auto; 
  }

  #map-container {
    width: 100%; 
    padding: 15px 0; 
    margin: 15px; 
    text-align: center; 
  }

  .map-display {
    width: 70%; 
    height: 35vw; 
    margin: 10px auto; 
    border: 1px solid black; 
  }
}

@media screen and (max-width: 768px) {
  header {
    margin: 5px;
    padding: 0px;
  }

  .container {
      grid-template-areas:
          "sidebar"
          "main";
      grid-template-columns: auto;
      /* Adjust padding or any other property as needed */
  }

  .sidebar, .main {
      height: auto; /* Adjust height for mobile */
  }

  .title {
      font-size: 5vw; /* Increase size for better readability on small screens */
  }
  
  #soccer-ball, #team-logo, #stadium {
      width: 100px; /* Adjust sizes for smaller screens */
      height: auto; /* Maintain aspect ratio */
  }
  
  #select-country, #select-team {
    width: 98%;
  }

  .league-container, .team-info {
      width: 90%; /* Adjust width to fit small screens */
      font-size: 4vw; /* Adjust font size for readability */
      margin-left: 30px;
  }
}
